{% extends "base.html.twig" %}

{% block body %}
	<div class="card-header">
		<h5 class="title-create-shopping-list">
			Participer à l'événement ?
		</h5>
	</div>

	<hr class="hr">

	{{ form_start(form) }}

	<div class="row-participate">
		<div class="col">
			<button class="button">
				<span class="yes">{{ button_label|default('Oui') }}</span>
			</button>
		</div>
		{{ form_end(form) }}
		<div class="col">
			<a href='{{ path('event_view',{'id': participate.event.id}) }}'" class="button">
				<span class="no">Bof</span>
			</a>
		</div>

	</div>

{% endblock %}
