{% extends "base.html.twig" %}


{% block body %}
	<div class="card mb-3">

			<div class="card-header">
				<h5 class="card-title">{{ participate.comment }}
				</h5>
			</div>
            </div>


{% endblock %}
