/*
***********************************
COLORS & FONTS
***********************************
*/
:root {
  --primary-color: #fbf000;
  --secondary-color: black;
  --tertiary-color: white;
}

* {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
}

body {
  height: 100vh;
  background-color: #ff9c02;
}

h1,
h5,
label,
span,
legend {
  color: var(--secondary-color);
}

legend,
.form-group label {
  font-weight: 900;
}

.hr {
	height: 2px;
	border: 0;
  margin: 50px auto;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(69, 50, 0, 0.144) 50%, rgba(255, 179, 0, 0) 100%);
}

/*
***********************************
ICONS
***********************************
*/

.button-icon-header {
  width: 30px !important;
}

.button-icon {
  width: 40px !important;
}

.button-icon:hover {
  -webkit-filter: opacity(0.2);
  filter: opacity(0.2);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

/*
***********************************
LISTS
***********************************
*/
ul li {
  list-style-type: none;
}

/*
***********************************
CONTROL
***********************************
*/
.control {
  display: flex;
  justify-content: space-around;
}

.control a {
  margin-left: 20px;
}

/*
***********************************
BUTTONS
***********************************
*/

.btn {
  background-color: black;
}

.btn:hover {
  background-color: white;
  color: black !important;
}


/*
***********************************
FORMS
***********************************
*/

#user {
  width: 60%;
  margin: 120px auto;
}

.form-group {
  display: flex;
  margin: 50px auto;
}

#shopping_list {
  width: 60%;
  margin: auto;

}

.title-create-shopping-list {
  font-size: 2em;
  font-weight: 400;
  color: var(--tertiary-color);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.form-group label {
  font-size: 2em;
  font-weight: 400;
}

.form-group input, .form-group textarea {
  border-radius: 20px;
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.user-edit-form {
  display: flex;
  justify-content: space-between;
}

#shopping_list_description {
  height: 400px
}

/*INPUT MOBILE CAMERA*/

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: none;
}