/*
***********************************
COLORS & FONTS
***********************************
*/
:root {
  --primary-color: #fbf000;
  --secondary-color: black;
  --tertiary-color: white;
}

* {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
}

body {
  height: 100vh;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(251, 221, 19, 1) 0.1%,
    rgba(255, 153, 1, 1) 90%
  );
}

h1,
h5,
label,
span,
legend {
  color: var(--secondary-color);
}

legend,
.form-group label {
  font-weight: 900;
}

.hr {
	height: 2px;
	border: 0;
  margin: 50px auto;
  background: rgb(0,0,0);
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(69, 50, 0, 0.144) 50%, rgba(255, 179, 0, 0) 100%);
}

/*
***********************************
ICONS
***********************************
*/
.button-icon {
  width: 30px !important;
}

.button-icon:hover {
  -webkit-filter: opacity(0.2);
  filter: opacity(0.2);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

/*
***********************************
LISTS
***********************************
*/
ul li {
  list-style-type: none;
}

/*
***********************************
CONTROL
***********************************
*/
.control {
  display: flex;
  justify-content: space-around;
}

.control a {
  margin-left: 20px;
}

/*
***********************************
BUTTONS
***********************************
*/

.btn {
  background-color: black;
}

.btn:hover {
  background-color: white;
  color: black !important;
}
