/*
***********************************
COLORS & FONTS
***********************************
*/
:root {
  --primary-color: #fbf000;
  --secondary-color: black;
  --tertiary-color: white
}

* {
  font-family: 'Montserrat', sans-serif;
  color: var(--secondary-color);
}

h1, h5, label, span, legend {
  color: var(--secondary-color);
}

legend, .form-group label {
  font-weight: 900;
}


body {
  height: 100vh;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(251,221,19,1) 0.1%, rgba(255,153,1,1) 90% );
}

/*
***********************************
ICONS
***********************************
*/
.button-icon {
  width: 50px !important;

}

.button-icon:hover {
  -webkit-filter: invert(.8);
  filter: invert(.8);
  -webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
} 

/*
***********************************
LISTS
***********************************
*/
ul li {
  list-style-type: none;
}

/*
***********************************
CONTROL
***********************************
*/
.control {
  display: flex;
  justify-content: space-between;
}

/*
***********************************
BUTTONS
***********************************
*/

.btn {
  background-color: black;
}

.btn:hover {
  background-color: white;
  color: black !important; 
}