/*
***********************************
COLORS & FONTS
***********************************
*/
:root {
  --primary-color: #fbf000;
  --secondary-color: black;
  --tertiary-color: white;

  --header-color: radial-gradient(circle farthest-corner at 10% 20%, rgb(37, 37, 37) 0.1%, rgb(0, 0, 0) 90%);
}

* {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
}

body {
  height: 100vh;
  background-color: #ff9c02;
  background-image: url(../images/bg_body.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.13);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.sub-home {
  color: var(--tertiary-color);
  font-size: 1.8em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.84);
}

h1,
h5 label,
span,
legend {
  color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
  font-weight: bold;
}

a:hover {
  color: var(--tertiary-color);
}

p {
  font-size: 1.3em !important;
  font-weight: 600;
}

ul li,
ol li p {
  color: var(--tertiary-color);
  font-size: 1.4em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.84);
}

legend,
.form-group label {
  font-weight: 900;
}

.hr {
  height: 2px;
  border: 0;
  margin: 50px auto;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(69, 50, 0, 0.144) 50%, rgba(255, 179, 0, 0) 100%);
}

/*
***********************************
ICONS / BUTTONS
***********************************
*/

.archives {
  justify-content: center;
  display: flex;
}

.button-icon-header {
  width: 30px !important;
}

.button-icon {
  width: 40px !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-icon:hover {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.button-modal {
  background-color: transparent;
  border: none;
}

/*
***********************************
LISTS
***********************************
*/
ul li {
  list-style-type: none;
}

/*
***********************************
CONTROL
***********************************
*/
.control {
  display: flex;
  justify-content: space-around;
}

/*
***********************************
BUTTONS
***********************************
*/

.btn {
  background-color: black;
  border-radius: 20px !important;
  -webkit-box-shadow: 4px -8px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px -8px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  border: none;
}

.btn:hover {
  background-color: white;
  color: black !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*
***********************************
FORMS
***********************************
*/

#user {
  width: 60%;
  margin: 120px auto;
}

.form-group {
  display: flex;
  margin: 10px auto;
  flex-direction: column;
  justify-content: center;
}

.form-group input, .form-group textarea {
  width: 60%;
  margin: 10px auto;
}

.form-group button {
  width: auto;
}

#shopping_list {
  width: 60%;
  margin: auto;
}

.title-create-shopping-list {
  font-size: 2em;
  font-weight: 400;
  color: var(--tertiary-color);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.form-group label {
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
}

.form-group input,
.form-group textarea {
  border-radius: 20px;
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

#event_type {
  display: flex;
}

.user-edit-form {
  display: flex;
  justify-content: space-between;
}

#event_text {
  height: 250px;
}

#shopping_list_description,
#comment_comment {
  height: 400px;
}

#comment_comment {
  width: 70%;
  margin: auto;
}

#comment_save {
  width: 40%;
  margin: auto;
}

/*INPUT MOBILE CAMERA*/

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: none;
}

/*
***********************************
MEDIA QUERIES
***********************************
*/

// Very small screens
$breakpoint-xs: 300px;

// Small tablets and large smartphones (landscape view)
$breakpoint-sm: 576px;

// Small tablets (portrait view)
$breakpoint-md: 768px;

// Tablets and small desktops
$breakpoint-lg: 992px;

// Large tablets and desktops
$breakpoint-xl: 1280px;

// Extra large devices
@mixin xl {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$breakpoint-lg}) and (max-width: #{$breakpoint-xl}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$breakpoint-md}) and (max-width: #{$breakpoint-lg}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$breakpoint-sm}) and (max-width: #{$breakpoint-md}) {
    @content;
  }
}

// XSmall devices
@mixin xs {
  @media (min-width: #{$breakpoint-xs}) and (max-width: #{$breakpoint-sm}) {
    @content;
  }
}
