/*
***********************************
COLORS & FONTS
***********************************
*/
:root {
  --primary-color: #fbf000;
  --secondary-color: black;
  --tertiary-color: white
;
}

* {
  font-family: 'Raleway', sans-serif;
}

h1, label {
  color: var(--secondary-color);
}

body {
  height: 100vh;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #fbdd13 0.1%, #ff9901 90%);
}

/*
***********************************
ICONS
***********************************
*/
.button-icon {
  width: 30px !important;
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.button-icon:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/*
***********************************
LISTS
***********************************
*/
ul li {
  list-style-type: none;
}

/*
***********************************
CONTROL
***********************************
*/
.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/*
***********************************
BUTTONS
***********************************
*/
.btn {
  background-color: black;
}

.btn:hover {
  background-color: white;
  color: black !important;
}

/*
***********************************
NAVBAR
***********************************
*/
.navbar {
  background-color: var(--secondary-color);
}

.navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-nav-left {
  width: 80%;
}

.container-nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navlink {
  color: var(--tertiary-color);
}

/*
***********************************
LIST EVENTS
***********************************
*/
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/*
***********************************
CARDS
***********************************
*/
.card {
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  background-color: rgba(161, 97, 0, 0.11);
  border-radius: 10px;
}

.card-header {
  background-color: rgba(0, 0, 0, 0.226);
  border-radius: 10px 10px 0 0 !important;
}

.card-title {
  font-size: 2.3em;
}

.card .list-events {
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */