@import "./navbar";
@import "./animations";
@import "./settings";

/*
***********************************
HOMPAGE
***********************************
*/

.homepage-body {
  width: 80%;
  height: 90%;
  border-radius: 20px;
  overflow-y: scroll;
  margin: auto;
  padding: 20px 20px;
  -webkit-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

.tuto-img-container {
  display: flex;
}

.tuto-form-text p {
  clear: right;
  float: left;
}

.table-homepage tbody tr {
  height: 100px;
}

/*
***********************************
LOGIN
***********************************
*/

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form label {
  color: var(--secondary-color);
}

/*
***********************************
LIST EVENTS
***********************************
*/
.flex-container {
  display: flex;
  justify-content: space-evenly;
}

/*
***********************************
CARDS
***********************************
*/

.card-group {
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 7px 6px rgba(0, 0, 0, 0.75);
}

.card {
  flex: inherit !important;
  background-color: #06192f18 !important;
  border-radius: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  height: 65%;
}

.cards {
  color: var(--tertiary-color);
  font-weight: bold;
}

.cards span:nth-child(2) {
  font-weight: 300;
  font-size: 1rem;
}

.card-header {
  background-color: transparent;
  background-image: var(--header-color);
  border-radius: 0 0 50px 50px !important;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.card-header .list-events,
.card-header span,
.card-header h5
.lieu-events,
.date-events {
  color: var(--tertiary-color);
}

.card-header-second {
  margin: 0 40px;
  display: flex;
  justify-content: space-between;
}

.list-group-item {
  background-color: rgba(0, 0, 0, 0.192);
}

.lieu {
  margin-top: 20px;
}

.card-title {
  font-size: 1.6em;
  font-weight: 400;
  color: var(--tertiary-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.84);
}

.card-list {
  height: auto;
  padding-top: 2em !important;
  padding-bottom: 2em !important;
}

.card p {
  font-size: 1.1em;
}

.view {
  align-self: center;
}

.card .list-events {
  font-weight: bold;
}

.card .date-events {
  font-size: 1.2em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.84);
  font-weight: 400;
}

#event_date {
  margin: auto;
}

.custom-file {
  width: 70%;
  margin: auto;
}

.lieu-events {
  font-weight: 100;
  font-size: 1.3em;
  color: var(--secondary-color);
}

.card-footer {
  background-color: var(--secondary-color);
  text-align: center;
}

.card-footer span {
  color: var(--tertiary-color);
}

.card-control {
  height: auto;
  display: flex;
  justify-content: center;
}

/*
***********************************
EVENT VIEW
***********************************
*/



.event-body {
  width: 80%;
  height: 70%;
  border-radius: 20px;
  transition: .3s ease-in-out ;
}

.event-body-edit {height: 80%;}

.event-body,
.event-body-edit {
  overflow-y: scroll;
  margin: auto;
  padding: 20px 20px;
  -webkit-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

.event-body:focus-within {
  -webkit-box-shadow: inset 0px 0px 10px 5px var(--secondary-color);
  -moz-box-shadow: inset 0px 0px 10px 5px var(--secondary-color);
  box-shadow: inset 0px 0px 10px 5px var(--tertiary-color);
}

#event {
  display: flex;
  flex-direction: column;
}

.user {
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 10px;
}

.user em {
  font-style: italic;
  color: var(--secondary-color);
}

.card-image-top {
  width: 100%;

  @include xs {
    display: none;
  }
}

.card-body {
  display: flex;
  flex: inherit;
  flex-direction: column;
  border-radius: 10px;
}

.card .event-view {
  width: 70%;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.75);
}

.avatar-mini,
.avatar {
  margin-top: 20px;
  margin-left: 20px;
}

.avatar-mini img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.card-title {
  text-align: center;
}

.card-text {
  font-size: 1.3em !important;
  font-weight: 400;
  color: var(--secondary-color);
}

#zoomCheck {
  display: none;
}

.container-invoice img {
  width: 100%;
  height: 100%;
}

.card-invoice img {
  width: 30px;
}

/*
***********************************
SHOPPING LIST
***********************************
*/

.list-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.shopping-list-description{
  color: var(--secondary-color) !important;
  font-style: italic !important;
}

/*
***********************************
USER
***********************************
*/
.myprofile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 20px auto;
}

.avatar-profile,
.myprofile .table,
.myprofile .control {
  margin-top: 40px;
}

.avatar-profile {
  text-align: center;
}

.avatar-profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/*
***********************************
PARTICIPATE
***********************************
*/

#participate {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#participate_comment {
  width: 80vw;
  height: 50vh;
  margin: auto;
}

/*
***********************************
MODAL
***********************************
*/
.modal-content {
  background-color: #000000b9;
  backdrop-filter: blur(8px) !important;
}

.comment-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: var(--tertiary-color);
}

.comment-container-create {
  display: flex;
  width: 100%;
  justify-content: center;
}

.comment h3 {
  font-size: 2em;
  font-weight: bold;
  color: var(--tertiary-color);
}

.date-comment {
  font-size: 1em !important;
  font-weight: 100 !important;
}

.comment-container p {
  color: var(--tertiary-color);
}

.comment-control .button-icon {
  width: 20px;
  margin-bottom: 2rem;
}

.modal-header h5,
.modal-body span {
  color: var(--tertiary-color);
  font-weight: bold;
}

.modal-body {
  display: flex;
  flex-direction: column;
  color: var(--tertiary-color);
}

.modal-open {
  padding: 0 !important;
}

/*
***********************************
DATETIMEPICKER
***********************************
*/

#datetimepicker1 {
  width: 40%;
  color: var(--tertiary-color);
}

.datetimepicker-button {
  height: auto;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  background-color: var(--primary-color);
  border-color: #2b313538;
  width: 100%;
}
.bootstrap-datetimepicker-widget.dropdown-menu:after,
.bootstrap-datetimepicker-widget.dropdown-menu:before {
  display: none !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu .arrow {
  display: none !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu .arrow:after,
.bootstrap-datetimepicker-widget.dropdown-menu .arrow:before {
  display: none !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu a span:hover,
.bootstrap-datetimepicker-widget.dropdown-menu a span:focus {
  background-color: transparent !important;
  color: black !important;
}
.bootstrap-datetimepicker-widget table td.day {
  font-size: 80%;
}
