/*
***********************************
COLORS & FONTS
***********************************
*/
:root {
  --primary-color: #fbf000;
  --secondary-color: black;
  --tertiary-color: white;
  --header-color: radial-gradient(circle farthest-corner at 10% 20%, rgb(37, 37, 37) 0.1%, rgb(0, 0, 0) 90%);
}

* {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
}

/*
***********************************
GENERAL
***********************************
*/
html,
body {
  height: 100%;
}

body {
  background-color: #ff9c02;
  background-image: url(../images/bg_body.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

.jumbotron {
  background-color: rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.sub-home {
  color: var(--tertiary-color);
  font-size: 1.8em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.84);
}

h1,
h5 label,
span,
legend {
  color: var(--secondary-color);
}

a {
  color: var(--secondary-color);
  font-weight: bold;
}

a:hover {
  color: var(--tertiary-color);
}

p {
  font-size: 1.3em !important;
  font-weight: 600;
}

ul li,
ol li p {
  color: var(--tertiary-color);
  font-size: 1.4em;
}

legend,
.form-group label {
  font-weight: 900;
}

.hr {
  height: 2px;
  border: 0;
  margin: 30px auto;
  background: black;
  background: radial-gradient(circle, black 0%, rgba(69, 50, 0, 0.144) 50%, rgba(255, 179, 0, 0) 100%);
}

/*
***********************************
COLS & ROWS
***********************************
*/
.row-participate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

/*
***********************************
ICONS / BUTTONS
***********************************
*/
.archives {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-icon-header {
  width: 30px !important;
}

.button-icon {
  width: 40px !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button-icon:hover {
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}

.button-modal {
  background-color: transparent;
  border: none;
}

.add-article-link {
  background: url("../images/add.png");
}

.remove-article-link {
  background: url("../images/remove.png");
}

.add-article-link,
.remove-article-link {
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -webkit-filter: drop-shadow(5px 5px 5px black);
  filter: drop-shadow(5px 5px 5px black);
}

/*
***********************************
LISTS
***********************************
*/
ul li {
  list-style-type: none;
}

/*
***********************************
CONTROL
***********************************
*/
.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline !important;
      -ms-flex-align: baseline !important;
          align-items: baseline !important;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*
***********************************
BUTTONS
***********************************
*/
.btn {
  background-color: black;
  border-radius: 20px !important;
  -webkit-box-shadow: 4px -8px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  border: none;
}

.btn:hover {
  background-color: white;
  color: black !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*
***********************************
FORMS
***********************************
*/
.container {
  height: 80vh;
  overflow-y: scroll;
}

#user {
  width: 60%;
  margin: 120px auto;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-group input,
.form-group textarea {
  margin: 10px auto;
}

.form-group button {
  width: auto;
}

#shopping_list {
  width: 60%;
  margin: auto;
}

.title-create-shopping-list {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--tertiary-color);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.form-group label {
  font-size: 1.2em;
  font-weight: 400;
  text-align: center;
}

.form-group input,
.form-group textarea {
  border-radius: 20px;
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

#event_type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#event_text {
  height: 20vh;
}

#comment_comment {
  width: 80vw;
  margin: auto;
  height: 50vh;
}

#comment_save {
  width: 40%;
  margin: auto;
}

.articles {
  padding-left: 0;
}

/*INPUT MOBILE CAMERA*/
input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: none;
}

/*
***********************************
MEDIA QUERIES
***********************************
*/
/*
***********************************
NAVBAR
***********************************
*/
.navbar {
  background-color: var(--secondary-color);
}

.navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-nav-left {
  width: 80%;
}

.container-nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navlink {
  color: var(--tertiary-color);
}

/*
***********************************
HOMPAGE
***********************************
*/
.tuto-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tuto-image img,
.tuto-form-img img {
  width: 100%;
}

.tuto-form-img img {
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.tuto-form-img,
.tuto-form-text {
  width: 50%;
}

.tuto-form-text p {
  clear: right;
  float: left;
}

/*
***********************************
LIST EVENTS
***********************************
*/
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/*
***********************************
CARDS
***********************************
*/
.card-group {
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.card {
  -webkit-box-flex: inherit !important;
      -ms-flex: inherit !important;
          flex: inherit !important;
  background-color: rgba(73, 135, 206, 0.096);
  border-radius: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  height: 80vh;
}

.cards {
  color: var(--tertiary-color);
  font-weight: bold;
}

.cards span:nth-child(2) {
  font-weight: 300;
  font-size: 1rem;
}

.card-header {
  background-color: transparent;
  background-image: var(--header-color);
  border-radius: 0 0 50px 50px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0px 8px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.card-header .list-events,
.card-header span,
.card-header h5 {
  color: var(--tertiary-color);
}

.card-header-second {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-group-item {
  background-color: rgba(255, 228, 196, 0.192);
}

.lieu {
  margin-top: 20px;
}

.card-title {
  color: var(--tertiary-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.84);
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: inherit;
      -ms-flex: inherit;
          flex: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  padding-top: 0px !important;
}

.card-list {
  height: auto;
}

.card p {
  font-size: 1.1em;
}

.view-item {
  height: 50px;
}

.view {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card .list-events {
  font-weight: bold;
}

.card .date-events {
  font-size: 1.2em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.84);
  font-weight: 400;
}

.date-item {
  height: 100px;
}

.lieu-events {
  font-weight: bold;
  font-size: 1.3em;
}

.card-footer {
  background-color: var(--secondary-color);
  text-align: center;
}

.card-footer span {
  color: var(--tertiary-color);
}

/*
***********************************
EVENT VIEW
***********************************
*/
.event-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow-y: scroll;
}

#event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-image-top {
  width: 100%;
}

@media (min-width: 300px) and (max-width: 576px) {
  .card-image-top {
    display: none;
  }
}

.card .event-view {
  width: 70%;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.avatar-mini, .avatar {
  margin-top: 20px;
  margin-left: 20px;
}

.avatar-mini img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.card-title {
  text-align: center;
}

.card-text {
  font-size: 1.3em !important;
  font-weight: 400;
}

#zoomCheck {
  display: none;
}

.card-invoice img {
  width: 50px;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

input[type="checkbox"]:checked ~ label > img {
  -webkit-transform: scale(8);
          transform: scale(8);
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/*
***********************************
SHOPPING LIST
***********************************
*/
.list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#shopping_list_description {
  height: 30vh;
}

/*
***********************************
USER
***********************************
*/
.myprofile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: 20px auto;
}

.avatar-profile,
.myprofile .table,
.myprofile .control {
  margin-top: 40px;
}

.avatar-profile {
  text-align: center;
}

.avatar-profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/*
***********************************
PARTICIPATE
***********************************
*/
#participate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#participate_comment {
  width: 80vw;
  height: 50vh;
  margin: auto;
}

#participate_save {
  margin: auto;
}

/*
***********************************
MODAL
***********************************
*/
.modal-content {
  background-color: #00000070;
  -webkit-backdrop-filter: blur(8px) !important;
          backdrop-filter: blur(8px) !important;
}

.comment-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.comment-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-header h5,
.modal-body span {
  color: var(--tertiary-color);
  font-weight: bold;
}

.modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--tertiary-color);
}

.modal-open {
  padding: 0 !important;
}
/*# sourceMappingURL=style.css.map */