/*
***********************************
COLORS & FONTS
***********************************
*/
:root {
  --primary-color: #fbf000;
  --secondary-color: black;
  --tertiary-color: white;
}

* {
  font-family: "Montserrat", sans-serif;
  color: var(--secondary-color);
}

body {
  height: 100vh;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #fbdd13 0.1%, #ff9901 90%);
}

h1,
h5,
label,
span,
legend {
  color: var(--secondary-color);
}

legend,
.form-group label {
  font-weight: 900;
}

.hr {
  height: 2px;
  border: 0;
  margin: 50px auto;
  background: black;
  background: radial-gradient(circle, black 0%, rgba(69, 50, 0, 0.144) 50%, rgba(255, 179, 0, 0) 100%);
}

/*
***********************************
ICONS
***********************************
*/
.button-icon-header {
  width: 30px !important;
}

.button-icon {
  width: 40px !important;
}

.button-icon:hover {
  -webkit-filter: opacity(0.2);
  filter: opacity(0.2);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

/*
***********************************
LISTS
***********************************
*/
ul li {
  list-style-type: none;
}

/*
***********************************
CONTROL
***********************************
*/
.control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.control a {
  margin-left: 20px;
}

/*
***********************************
BUTTONS
***********************************
*/
.btn {
  background-color: black;
}

.btn:hover {
  background-color: white;
  color: black !important;
}

/*
***********************************
FORMS
***********************************
*/
#shopping_list {
  width: 60%;
  margin: auto;
}

.title-create-shopping-list {
  font-size: 2em;
  font-weight: 400;
  color: var(--tertiary-color);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

.form-group label {
  font-size: 2em;
  font-weight: 400;
}

.form-group input, .form-group textarea {
  border-radius: 20px;
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.user-edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#shopping_list_description {
  height: 400px;
}

/*INPUT MOBILE CAMERA*/
input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: none;
}

/*
***********************************
NAVBAR
***********************************
*/
.navbar {
  background-color: var(--secondary-color);
}

.navbar-nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-nav-left {
  width: 80%;
}

.container-nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navlink {
  color: var(--tertiary-color);
}

/*
***********************************
LIST EVENTS
***********************************
*/
.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

/*
***********************************
CARDS
***********************************
*/
.card {
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
  background-color: rgba(161, 97, 0, 0.11);
  border-radius: 10px;
}

.card-header {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #1393fb 0.1%, #053053 90%);
  border-radius: 0 0 50px 50px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 1.2em;
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.card-header-second {
  margin: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-header span:nth-child(2) {
  color: var(--tertiary-color);
}

.lieu {
  margin-top: 20px;
}

.card-title {
  font-size: 2.3em;
}

.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card p {
  font-size: 1.1em;
}

.view {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card .list-events {
  font-weight: bold;
}

.card .date-events {
  font-size: 1.2em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.84);
  font-weight: 400;
}

.lieu-events {
  font-weight: bold;
  font-size: 1.3em;
}

.card-footer {
  background-color: var(--secondary-color);
  text-align: center;
}

.card-footer span {
  color: var(--tertiary-color);
}

/*
***********************************
EVENT VIEW
***********************************
*/
.user {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-image-top {
  width: 100%;
  height: 100%;
}

.card .event-view {
  width: 70%;
}

.avatar-mini {
  margin-top: 20px;
  margin-left: 20px;
}

.avatar-mini img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
          box-shadow: 8px 8px 7px -2px rgba(0, 0, 0, 0.75);
}

.card-title {
  text-align: center;
}

.card-text {
  font-size: 1.3em !important;
  font-weight: 400;
}

/*
***********************************
SHOPPING LIST
***********************************
*/
.shopping-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/*
***********************************
USER
***********************************
*/
.myprofile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: 20px auto;
}

.avatar-profile,
.myprofile .table,
.myprofile .control {
  margin-top: 40px;
}

.avatar-profile {
  text-align: center;
}

.avatar-profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */