{% extends 'base.html.twig' %}

{% block title %}Galeries
{% endblock %}

{% block body %}

    {#    {{ form_widget(form, {'attr':{'class':'dropzone'} }) }}#}
    {#    {{ form_end(form) }}#}
    <form action="{{ path('gallery_create') }}" class="dropzone" id="dropzone-form">
    </form>


    {% block javascripts %}
        {#        <script>#}
        {#            window.onload = function () {#}
        {#                Dropzone.autoDiscover = false;#}
        {#                $(".dropzone").dropzone({#}
        {#                    addRemoveLinks: true,#}
        {#                    removedfile: function (file) {#}
        {#                        var name = file.name;#}

        {#                        $.ajax({#}
        {#                            type: 'POST',#}
        {#                            url: 'upload.php',#}
        {#                            data: {name: name, request: 2},#}
        {#                            sucess: function (data) {#}
        {#                                console.log('success: ' + data);#}
        {#                            }#}
        {#                        });#}
        {#                        var _ref;#}
        {#                        return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;#}
        {#                    }#}
        {#                });#}
        {#            };#}
        {#        </script>#}
    {% endblock %}

{% endblock %}