{% extends 'base.html.twig' %}

{% block title %}Galeries
{% endblock %}

{% block body %}
		<h1>Galerie {{ galleryUserTitle }}</h1>

	<hr class="hr">

	<div class="card-gallery">
		<div class="container-gallery">

			<div id="lb-back">
				<div id="lb-img"></div>
			</div>

			{% for photo in gallery.photos %}
				<img src="{{ asset('uploads/images/' ~ galleryTitle ~ '/' ~ photo.title) }}" alt="" class="zoomD">
			{% endfor %}
		</div>

		<div class="control">
			<a href="{{ path('gallery_index') }}" class="button">
				<span class="backto"></span>
			</a>

			<a href="{{ path('gallery_update', {'id': gallery.id}) }}" class="button">
				<span class="update"></span>
			</a>
		</div>
	</div>


{% endblock %}
