{% extends "base.html.twig" %}

{% block body %}

    <h2>
        Modifier la liste de courses "{{ shoppingList.title }}"
    </h2>

    {{ form(form) }}
    
{% endblock %}

{% block javascripts %}
    <script>

        var $collectionHolder;

        // setup an "add a tag" link
        var $addArticleButton = $("<button type='button' class='btn btn-secondary'>Ajouter une musique</button>");

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of tags
            $collectionHolder = $("#shopping_list");

            $collectionHolder.find('fieldset').each(function() {
                addArticleFormDeleteLink($(this));
            });

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($addArticleButton);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data("index", $collectionHolder.find(":input").length);

            $addArticleButton.on("click", function (e) {
                // add a new tag form (see next code block)
                addArticleForm();
            });
        });

        function addArticleForm() {
            // Get the data-prototype explained earlier
            let prototype = $collectionHolder.data("prototype");

            // get the new index
            let index = $collectionHolder.data("index");

            let newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            $newForm = $(newForm.replace(/__name__/g, index));
            addArticleFormDeleteLink($newForm)

            // increase the index with one for the next item
            $collectionHolder.data("index", index + 1);

            $addArticleButton.before($newForm);
        }

        function addArticleFormDeleteLink($ArticleForm) {
            let $removeFormButton = $('<button type="button" class="btn btn-danger">Supprimer cet article</button>');
            $ArticleForm.append($removeFormButton);

            $removeFormButton.on('click', function(e) {
                // remove the li for the tag form
                $ArticleForm.remove();
            });
        }
    </script>
{% endblock %}
