<html>
	<head>
		<meta charset="UTF-8">
		<title>T E S T</title>
	</head>
	{% apply inline_css %}
	<style>
		
		body{
            background-color:#E38038;
           /*background-image:url("./images/abricots.png");*/
             color:#fff;
             }          
		h2 {
			color: #253f58;
			font-size: 25px
		}
		p {
			font-size: 15px;
		}
		strong {
			color: #253f58;
			font-size: 15px;
		}
	</style>
	<body>
		<div>
		
			<p style="font-size: 15px;">Coucou.</p>
		</div>
	</body>
	{% endapply %}

</html>
