{% extends "base.html.twig" %}

{% block body %}

	<div class="jumbotron">
		<h1 class="display-4">Bienvenue  sur Voisins</h1>
		<hr class="my-4">
		<p>L'appli qui te veut du bien !</p>
        <hr class="my-4">
	</div>

{% endblock %}
