{% extends "base.html.twig" %}

{% block body %}
	<div class="card-header">
		<h5 class="card-title">
			Écrire un commentaire
		</h5>
	</div>
	<div class="comment-container-create">
		{{ form_start(form) }}
		{{ form_widget(form) }}
	</div>

	<!--CONTROL-->
	<div class="control">
		<a href="{{ path('event_view',{'id': event.id}) }}" class="button">
		<span class="backto"></span>
		</a>
	</div>
	{{ form_end(form) }}
{% endblock %}
