{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page not found</h1>

    <p>
        La page que tu recherches n'existe pas ! C'est pas de la faute du développeur !! ok ? </a>.
    </p>
{% endblock %}