{% extends 'base.html.twig' %}

{% block title %}New User
{% endblock %}

{% block body %}
	<div class="cards">
		<hr class="hr">
		<h1>Créer</h1>
		<div class="my-form-control">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<div class="container-button">
				<button class="button-save">{{ button_label|default('Enregistrer') }}</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
