{% extends 'base.html.twig' %}

{% block title %}Éditer l'événement
{% endblock %}

{% block body %}

	<div class="container-password">

		<div class="left">
			<h2>Éditer</h2>
			{{ include('events/_form.html.twig', {'button_label': 'Update'}) }}
		</div>
	</div>

{% endblock %}
