{% extends "base.html.twig" %}


{% block body %}

	<h2>Ajouter un événement</h2>

	{% for event in events %}

		<span class="list-events">
			{{ event.title }}
		</span>
	{% endfor %}
{% endblock %}
